.menu-component {
  background: rgba(25, 62, 56, 1);
  width: 100vw;
  height: 550px;
  position: fixed;
  left: 0;
  top: 75vh;
  border-top-right-radius: 75px;
  border-top-left-radius: 15px;
  display: grid;
  grid-template-rows: 33%, 33%, 33%;
}


.bigButton1 {
  font-family: "Poppins", sans-serif;
  background-color: var(--mint);
  color: var(--forest);
  display: grid;
  grid-row: 1;
  width: 300px;
  height: 100px;
  justify-content: center;
  align-content: center;
  margin-bottom: 20%;
  border-top-right-radius: 50px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 15px;
  font-size: 24px;
}

.bigButton2 {
  font-family: "Poppins", sans-serif;
  background-color: var(--mint);
  color: var(--forest);
  display: grid;
  grid-row: 2;
  width: 300px;
  height: 100px;
  justify-content: center;
  align-content: center;
  margin-bottom: 20%;
  border-top-right-radius: 50px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 15px;
  font-size: 24px;
}

.bigButton3 {
  font-family: "Poppins", sans-serif;
  background-color: var(--mint);
  color: var(--forest);
  display: grid;
  grid-row: 3;
  width: 300px;
  height: 100px;
  justify-content: center;
  align-content: center;
  border-top-right-radius: 50px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 15px;
  font-size: 24px;
}


.is-animated {
  animation-name: animationStart;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  transition: ease;
}

.reverse-animation {
  animation-name: animationReverse;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  transition: ease;
}

@keyframes animationStart {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-60%);
  }
}

@keyframes animationReverse {
  0% {
    transform: translateY(-60%);
  }

  100% {
    transform: translateY(0);
  }
}

.buttons {
  align-self: center;
  justify-self: center;
}
