.timeOfDayText {
  font-family: "Poppins", sans-serif;
  color: var(--forest);
  margin-top: 40%;
  text-align: center;
}

.illustration {
  width: 100%;
  height: 550px;
  justify-items: center;
  align-items: center;
}
